{% extends './layout.html' %}
{% block content %}

<link rel="stylesheet" href="./../../static/css/agb.css">

<button onclick="history.back()">ZURÜCK</button>

<h2>Datenschutz</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. At in tellus integer feugiat scelerisque varius. Pellentesque id nibh tortor id aliquet lectus proin.
    Venenatis lectus magna fringilla urna. Morbi quis commodo odio aenean sed adipiscing. Mi bibendum neque egestas
    congue quisque. Eleifend quam adipiscing vitae proin sagittis nisl. Tincidunt arcu non sodales neque sodales ut.
    Ipsum faucibus vitae aliquet nec. Duis at tellus at urna condimentum mattis pellentesque id. Aliquet enim tortor at
    auctor urna nunc id cursus. Et ligula ullamcorper malesuada proin libero nunc consequat interdum varius. Volutpat
    lacus laoreet non curabitur gravida arcu ac tortor dignissim.
    <br><br>
    Amet purus gravida quis blandit. Id consectetur purus ut faucibus pulvinar elementum integer enim neque. Erat
    imperdiet sed euismod nisi porta. Cursus mattis molestie a iaculis at erat pellentesque adipiscing. Pellentesque
    diam volutpat commodo sed egestas egestas fringilla. Tellus orci ac auctor augue mauris augue neque gravida in. Diam
    vel quam elementum pulvinar etiam non. Elementum nisi quis eleifend quam adipiscing. Velit egestas dui id ornare
    arcu odio. Ante in nibh mauris cursus mattis. Tortor at risus viverra adipiscing at in tellus integer feugiat. Odio
    eu feugiat pretium nibh ipsum consequat. Nam at lectus urna duis convallis convallis tellus.
<br><br>
    At tellus at urna condimentum mattis pellentesque id. Neque aliquam vestibulum morbi blandit cursus risus at. Libero
    enim sed faucibus turpis in eu mi. Elit eget gravida cum sociis. Habitasse platea dictumst vestibulum rhoncus est.
    Tellus cras adipiscing enim eu turpis egestas pretium aenean pharetra. Tortor condimentum lacinia quis vel eros
    donec. Leo vel fringilla est ullamcorper eget nulla facilisi etiam. Enim ut sem viverra aliquet. Commodo elit at
    imperdiet dui accumsan sit amet nulla. Pellentesque sit amet porttitor eget dolor morbi non arcu risus. Fusce id
    velit ut tortor pretium. Risus viverra adipiscing at in tellus integer.

    Lorem sed risus ultricies tristique nulla aliquet enim tortor. Praesent tristique magna sit amet purus gravida quis.
    Metus vulputate eu scelerisque felis imperdiet. Sit amet justo donec enim diam vulputate ut. Orci dapibus ultrices
    in iaculis nunc sed. Eget mi proin sed libero enim sed faucibus. Turpis egestas maecenas pharetra convallis. Tellus
    in metus vulputate eu scelerisque felis imperdiet. Ut tellus elementum sagittis vitae et leo. Commodo quis imperdiet
    massa tincidunt nunc pulvinar. Aliquam malesuada bibendum arcu vitae elementum. Commodo nulla facilisi nullam
    vehicula.
<br><br>
    Morbi quis commodo odio aenean sed. Ante in nibh mauris cursus mattis molestie a iaculis at. In ante metus dictum
    at. Sed odio morbi quis commodo odio aenean sed adipiscing diam. Nisl nisi scelerisque eu ultrices vitae auctor eu
    augue ut. Sed pulvinar proin gravida hendrerit. Egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices.
    Lacus laoreet non curabitur gravida arcu ac tortor. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper. At
    elementum eu facilisis sed odio morbi. Mi in nulla posuere sollicitudin. Bibendum enim facilisis gravida neque
    convallis. Sem et tortor consequat id porta nibh venenatis. Vel pharetra vel turpis nunc eget lorem dolor sed.
    Nascetur ridiculus mus mauris vitae ultricies leo integer. Volutpat sed cras ornare arcu dui. Sed risus pretium quam
    vulputate dignissim suspendisse in est ante. Purus sit amet luctus venenatis. Aliquam etiam erat velit scelerisque
    in dictum.</p>

{% endblock %}